/* General */
* {
	margin:0;
	padding:0;
	font-family:sans-serif;
}
body {
	background-color:black;
	background-image:url('../pictures/brownbackground.gif');
	background-repeat:no-repeat;
	background-position:left 300px;
}

/* Header */
#header {
	width:950px;
	margin:auto;
	margin-top:20px;
	padding-bottom:10px;
	border-color:white;
	border-bottom-style:solid;
	border-bottom-color:white;
}
.clear {
	clear:both;
	display:block;
}

/* Logo */	
#logo {
	width:300px;
	float:left;
}
img.logo {
	display:block;
	height:20px;
	margin:auto;
}

/* Navbar */
#navbar {
	float:right;
}
li.navbar {
	float:left;
	padding:2px;
	margin:4px;
	list-style-type:none;
}
a.navbar {
	color:white;
	text-decoration:none;
	border: solid 1px red;
	padding:4px;
	font-size:13px;
}
a.navbar:hover {
	border: solid 1px white;
	text-decoration:underline;
}