/* General */
* {
	margin:0px;
	padding:0px;
}
body {
}

/* banner */
div.banner {
	width:100%;
	height:100px;
	background-image:url('../pictures/header.jpg');
	background-repeat:repeat-x;
	margin:auto;
}
h1.banner {
	width:900px;
	padding-top:20px;
	margin:auto;
	letter-spacing: 5px;
	font-size:40px;
	color:white;
}

/* navbar */
#navbar {
	width:100%;
	height:30px;
	padding:5px;
	text-align:center;
	background-image:url('../pictures/navbar.jpg');
	background-repeat:repeat-x;
}
li.navbar {
	display:inline;
	padding-left:60px;
	padding-right:60px;
	padding-top:5px;
	padding-bottom:6px;
	border-left:solid;
	border-width:1px;
}
a.navbar {
	text-decoration:none;
	color:black;
}
.navbar.hover {
	background-image:url('../pictures/navbarhover.jpg');
}